<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Macchina Convessa</title>

  <link rel="stylesheet" href="main.css">

</head>
<body>
  <div id="app">
    <svg class="graph" v-bind="graphPos" transform="scale(1,-1)">
      <g v-for="n in netSize">
        <g v-for="m in netSize">
          <circle  v-bind:cx="m-netOrigin" v-bind:cy="n-netOrigin" v-bind:r="integerPointSize" v-bind:class="{'intpoint':true, 'origin': (n==netOrigin && m==netOrigin)}">
            <animate v-if="isInside(m-netOrigin,n-netOrigin)" attributeType="XML" repeatCount="indefinite" attributeName="fill" values="#f00;#f00;#fff" dur="0.7s" />
          </circle>
        </g>
      </g>
      <!-- edges -->
      <polygon v-for="(i,l) in dTriangles" v-bind:points="l" class="dualTriangles"/>
      <line v-for="(i,l) in dLines" v-bind="l" @mousedown.prevent="addPoint($event,i,false)" class="dualEdge" v-bind:stroke-width="edgeWidth"/>
      <line v-for="(i,l) in aLines" v-bind="l" @mousedown.prevent="addPoint($event,i,true)" class="edge" v-bind:stroke-width="edgeWidth"/>
      <!-- vertices -->
      <circle v-for="p in aPolygon" v-bind="p" @mousedown.prevent="startMove($event,p,true)" @touchstart.prevent="startMove($event,p,true)" v-bind:r="vertexSize" class="pointer" v-bind:class="{ selected: p.selected}" />
      <circle v-for="p in dPolygon" v-bind="p" @mousedown.prevent="startMove($event,p,false)" @touchstart.prevent="startMove($event,p,false)" v-bind:r="vertexSize" class="pointer" v-bind:class="{ selected: p.selected}" />
    </svg>
    <!-- ============================================ -->
    <div class="settings" v-cloak>
      Example:
      <select v-model="selectedExample" @change="setExample">
        <option v-for="e in examples" v-bind:value="e">
          {{ e.title }}
        </option>
      </select><br>
      <hr>
      <input type="text" v-model="aPolygonString" class="string field">
      <span class="volumeA">Volume A: {{volumeAPolygon.toFixed(3)}}</span>
      A precision: <input type="range" min="1" max="10" step="1" v-model="aPrecision">
      <button @click="roundPolygon(true)" class="roundA">Round A up to 1/{{aPrecision}}</button><br>
      Transform:
      <button @click="skew(true,1)" class="roundA">←</button>
      <button @click="skew(true,2)" class="roundA">→</button>
      <button @click="skew(true,3)" class="roundA">↑</button>
      <button @click="skew(true,4)" class="roundA">↓</button>

      <hr>
      <input type="text" v-model="dPolygonString" class="string field">
      <span class="volumeD">Volume D: {{volumeDPolygon.toFixed(3)}}</span>
      D precision: <input type="range" min="1" max="10" step="1" v-model="dPrecision">
      <button @click="roundPolygon(false)" class="roundD">Round D up to 1/{{dPrecision}}</button><br>
      Transform:
      <button @click="skew(false,1)" class="roundD">←</button>
      <button @click="skew(false,2)" class="roundD">→</button>
      <button @click="skew(false,3)" class="roundD">↑</button>
      <button @click="skew(false,4)" class="roundD">↓</button>

      <hr>
      Zoom: <input type="range" v-model="graphSize" min="5" max="21" step="2"><br>
      Vertex size: <input type="range" min="0" max="0.5" step="0.01" v-model="vertexSize"><br>
      Edge width: <input type="range" min="0" max="0.5" step="0.01" v-model="edgeWidth"><br>
      Integer points size: <input type="range" min="0" max="0.5" step="0.01" v-model="integerPointSize"><br>
      <hr><br>
      Help:
      <ul>
        <li><kbd>Shift+Click</kbd> on edge => add point;</li>
        <li><kbd>{{ useCtrl ? "Ctrl": "Cmd"}}+Click</kbd> on vertex => select/deselect it.</li>
      </ul>
      <div class="github-logo">
        <a href="https://github.com/ktzanev/macchina-convessa">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 92 92">
                  <path fill="gray" d="M62 52.5c-3.7 0-6.6 4-6.6 9s3 9 6.5 9 6.4-4 6.4-9-3-9-6.5-9zM84.4 29c.8-1.7.8-12-3-22 0 0-9.2 1-23 10.4-2.8-.8-7.6-1.2-12.5-1.2s-9.7.4-12.6 1.2C19.7 8 10.6 7 10.6 7c-4 10-4 20.3-3 22C2.7 34.3 0 40.3 0 48.6 0 84.5 29.8 85 37.3 85h17.4c7.5 0 37.3-.6 37.3-36.5 0-8.3-2.8-14.3-7.5-19.4zM46 80.7c-19 0-33.7-2.3-33.7-20.6 0-4.4 1.6-8.5 5.2-12 6.2-5.5 16.6-2.5 28.4-2.5 12 0 22.3-3 28.5 2.6 3.6 3.5 5.2 7.6 5.2 12C79.7 78.3 65 80.6 46 80.6zm-16-28c-3.5 0-6.4 4-6.4 9s3 9 6.5 9c3.7 0 6.6-4 6.6-9s-3-9-6.5-9z"/>
          </svg></a>
      </div>

    </div>
  </div>

  <!-- JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.28/vue.min.js" /></script>
  <script src="main.js"></script>
</body>
</html>
