body {
  margin: 0px;
}

/* SVG */

.graph {
  background-color: #222;
  width: 49vw;
  height: 49vw;
}
.pointer {
  fill: #42b983;
  cursor: pointer;
}
.pointer.selected {
  fill: yellow;
  cursor: pointer;
}
.edge {
  stroke:rgb(255,0,0);
}
.acentroid{
  stroke:rgb(255,0,0);
}
.dualPointer {
  fill: #83b942;
}
.dualEdge {
  stroke:rgb(0,0,255);
}
.dualTriangles {
  fill: rgba(0,0,255,.21);
}
.dcentroid{
  stroke:rgb(0,0,255);
}
.edge:hover, .dualEdge:hover {
  cursor: copy;
}
.intpoint.origin {
  fill : rgb(128,0,0);
}
.intpoint.inside {
  fill : rgb(255,0,255);
}
.intpoint {
  fill : gray;
}

/* Settings */

.settings {
  display: inline-block;
  width: 49vw;
  height: 49vw;
}
.settings .field {
  display: block;
}
.settings .string {
  width:100%;
}
.volumeA, .volumeD {
  display: inline-block;
  padding: .35em;
  margin: .35em;
  border-radius: .35em;
}
.volumeA {
  background-color: #FAA;
}
.volumeD {
  background-color: #AAF;
}
.roundA, .roundD {
  display: inline-block;
  padding: .35em;
  margin: .35em;
  border-radius: .35em;
}
.roundA,.matrixA {
  background-color: #FAA;
}
.roundD,.matrixD {
  background-color: #AAF;
}
.volumprod {
  display: inline-block;
  padding: .35em;
  margin: .35em;
  border-radius: .35em;
}
.volumprod, .matrixAD {
  background-color: #FAF;
}
.stoppingpong {
  background-color: lightgreen;
}
.hessian {
  display: inline-block;
  padding: .35em;
  margin: .35em;
}
.hessian table {
  display: inline-block;
  border-collapse: collapse;
  margin-bottom: -1em;
}
.hessian table td {
  border: 1px solid gray;
}
.github-logo {
  text-align: right;
  padding: 1em;
}
.github-logo svg {
  width: 2em;
}
.github-logo a:hover svg path {
  fill: #933EC5;
}
[v-cloak] {
  opacity: .21;
}

kbd {
  background-color: #EEE;
  border: 1px solid #DDD;
  padding: 1px 3px;
  display: inline-block;
  margin: 1px;
  border-radius: 3px;
}
